:root {
    --contentbg: white;
    --bgcolor: rgb(49, 83, 49);
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color:var(--bgcolor);
}

#wrapper {
    width: 75%;
    margin: 0 auto;
    padding:5px;
}

nav {
    display:flex;
    width:100%;
}

.tab {
    font-size: 15px;
    padding: 5px;
    margin: 0 5px;
    background-color:var(--contentbg);
}

#content {
    padding: 20px;
    background-color:var(--contentbg);
}

#courselist {
    padding: 2px;
    width: 100%;
}

#courselist thead {
    font-style: underline;
}

.academicyr {
    border-bottom: 2px solid rgb(194, 182, 182);
    font-size: 40px;
    padding: 20px 5px;
}