:root {
    --contentbg: white;
    --bgcolor: rgb(49, 83, 49);
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color:var(--bgcolor);
}

#wrapper {
    width: 75%;
    margin: 0 auto;
    padding:5px;
}

nav {
    display:flex;
    flex-direction: row;
    width:100%;
    align-items:flex-end;
}

.tab {
    font-size: 15px;
    padding: 5px 20px;
    background-color:lightgray;
}

.tabactive {
    font-weight:bold;
    background-color:var(--contentbg);
    border-top: 8px solid var(--contentbg);
}

.tab:hover {
    border-top: 4px solid lightgrey;
}

#content {
    padding: 20px;
    background-color:var(--contentbg);
}

#courselist {
    padding: 2px;
    width: 100%;
}

#courselist thead {
    text-decoration: underline;
}

#courselistguide {
    text-align:center;
    text-decoration: none;
}

.academicyr {
    border-bottom: 2px solid rgb(194, 182, 182);
    font-size: 40px;
    padding: 10px 5px;
    margin: 20px 0;
}

.semchk {
    text-align:center;
}

input[type="checkbox"] {
    margin: 0 auto;
}